.top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .bot {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 5px;
  }
  .achat-container {
    margin: 5px;
    padding: 10px;
    margin-bottom: 1px;
    border: 1px solid grey;
  }
  
  .slide-up-enter {
    transform: translateY(10px); /* start 10px down*/
    opacity: 0;
    transition: all 0.7s ease-out;
  }
  
  .slide-up-enter-active {
    transition: all 0.7s ease-in-out;
  }